/* src/components/group/NewGroupChat.module.css */

.overlay {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.panel {
  background-color: beige;
  border-radius: 8px;
  width: 25vw;
  max-height: 90%;
  overflow: auto;
  padding: 1rem;
}
